<ion-header>
  <ion-toolbar>
    <ion-title>
      Bluetooth Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-button (click)="initializePeripheral()">Initialize Peripheral</ion-button>
  <ion-button (click)="checkInitialization()">Check Peripheral Initialization</ion-button>
  <ion-button (click)="addService()">Add Service</ion-button>
  <ion-button (click)="toggleAdvertising()">Toggle Advertising</ion-button>
  <ion-button (click)="removeServices()">Remove Services</ion-button>
  <ion-button (click)="startScan()">Start Scan</ion-button>
  <ion-button (click)="stopScan()">Stop Scan</ion-button>
  <ion-button (click)="retrievePairedDevices()">retrieve paired devices</ion-button>

  <ion-card *ngIf="dataReceived.length > 0">
    <ion-card-header>
      <ion-card-title>Data Received</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let data of dataReceived$ | async">
          <ion-label>{{ data }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-card *ngIf="discoveredDevices.length > 0">
      <ion-card-header>
        <ion-card-title>Discovered Devices</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let device of discoveredDevices$ | async">
              {{ device.name }} {{ device.address }}
              <ion-button *ngIf="!isConnected && !hasConnected" (click)="connectToDevice(device)">Connect</ion-button>
              <ion-button *ngIf="isConnected  || hasConnected" (click)="disconnectDevice(device)">Disconnect</ion-button>
              <ion-button *ngIf="hasConnected" (click)="reconnectDevice(device)">Reconnect</ion-button>
              <ion-button *ngIf="isConnected || hasConnected" (click)="readValue(device)">Read</ion-button>
          </ion-item>
      </ion-list>
      <ion-list *ngIf="isConnected">
        <ion-item *ngFor="let service of services">
            {{ service.name }} {{ service.uuid }}
            <ion-list>
                <ion-item *ngFor="let characteristic of service.characteristics">
                    {{ characteristic.name }} {{ characteristic.uuid }}
                </ion-item>
            </ion-list>
        </ion-item>
    </ion-list>
      </ion-card-content>
    </ion-card>

  </ion-list>
  <ion-item>
    <ion-label>Value to write:</ion-label>
    <ion-input [(ngModel)]="valueToWrite"></ion-input>
  </ion-item>
  <ion-button (click)="writeValue()" *ngIf="connectedDevice">Write Value</ion-button>
</ion-content>
